.page-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 182, 182);
    display: block;
    content: "";
  }

  &:before {
    background: yellow; // rgba(black, 0.6);
    content: "";
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: block;
  }
}

#home,
#sign-in,
#sign-up {
  z-index: 200;
  position: relative;
}

.nav-open {
  position: absolute;
  left: 36px;
  top: 15px;
  background: none;
  border: 0;
  box-shadow: none;
  color: black;
  font-size: 18px;
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  letter-spacing: 1px;
  z-index: 9999;
  outline: none;
  transition: all 0.3s ease-out;
  //   text-indent: -9999px;
  transform: scale(0.8);
  &:hover,
  &:focus,
  &:active {
    color: royalblue;
    outline: none;
  }
}

.app-logo {
  position: absolute;
  left: 50%;
  margin-left: -16%;
  top: 24px;
  z-index: 9999;
  transform: scale(1.25);
  cursor: pointer;
  font-weight: 900;
  transition: all 0.3s ease-out;
  color: #1a52d3;
  font-size: 24px;
  text-decoration: none;
  br {
    display: none;
  }
  &:hover,
  &:focus,
  &:active {
    transform: scale(1);
  }
  @media screen and (min-width: 768px) {
    margin-left: 0;
    top: 50%;
    left: 48px;
    br {
      display: block;
    }
  }
}

#main-nav {
  width: 0%;
  overflow: hidden;
  height: 100vh;
  background: orange;
  position: relative;
  z-index: 99999;
  transition: all 0.3s ease-out;
  .nav-close {
    background: none;
    border: 0;
    box-shadow: none;
    color: black;
    transform: rotateZ(45deg);
    font-size: 48px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  &.sidebar-active {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    @media screen and (min-width: 1200px) {
      width: 30%;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &:hover {
      a {
        opacity: 0.25;
        &:hover,
        &:focus,
        &:active,
        &.active {
          opacity: 1;
        }
      }
    }
    li {
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
        transition: all 0.3s ease-out;
        padding: 15px;
        display: block;
        text-transform: lowercase;
        font-family: serif;
        font-size: 48px;
        color: white;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
}

#main.sidebar-active {
  width: 0%;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
  @media screen and (min-width: 1200px) {
    width: 70%;
  }
}

#iframe-root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

#iframe-canvas {
  width: 720px;
  height: 404px;
  margin-left: -310px;
  left: 50%;
  position: absolute;
  top: 50%;
  margin-top: -202px;
  iframe {
  }
  button {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    background-color: royalblue;
    color: white;
    border: 1px solid navy;
    box-shadow: none;
    border-radius: 4px;
  }
}
